@import './colors';

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.background {
	background-image: url(/img/icons/globe.svg);
	background-repeat: no-repeat;
	background-size: 100px;
	z-index: 1000;
	background-color: #fff;
}
