@media (min-width: 768px) {
	.header-box-heading {
		transition: transform 0.3s ease;

		scale: (1);

		&:hover {
			transform: scale(2);

			.header-box-heading__underline {
				justify-self: end;
				background-color: $underline-color;
				height: 1px;
				width: 100%;
			}
		}
	}
}
