@media (min-width: 768px) {
	.header-box-heading {
		font-size: 6.5rem;
		transition: transform 0.3s ease;

		scale: (1);

		&:hover {
			transform: scale(2);

			.header-box-heading__underline {
				justify-self: end;
				background-color: $underline-color;
				height: 1px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 1368px) {
	.about-text {
		padding: 3.5em 0em;
	}
}
