@import './components';
@import './colors';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background: #11120d;
	background: linear-gradient(270deg, rgba(17, 18, 13, 1) 0%, rgba(26, 28, 27, 1) 57%);
}

// header

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	z-index: -10;

	&-box {
		position: relative;
		display: flex;
		flex-direction: column;

		&-heading {
			font-size: 3em;
			font-family: 'Edu NSW ACT Hand Pre', cursive;
			letter-spacing: 0.2rem;
			color: $white;
			font-weight: 800;

			&__underline {
				justify-self: end;
				margin-top: 0.1em;
				background-color: $underline-color;
				height: 1px;
				width: 50%;
				transition: width 1s ease;
			}
		}
	}
}

.pulse-btn {
	background-color: $accent-color;
	cursor: pointer;
	padding: 2em;
	border-radius: 50%;
	border: none;
	animation: pulse 1.5s infinite;

	i {
		color: $white;
		font-size: 22px;
	}
	&-box {
		cursor: pointer;
		position: absolute;
		bottom: 50px;
		padding: 1em 1em;
	}
}

// first section

.about {
	display: flex;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;

	.section-header {
		color: $accent-color;
		margin: 3em;
	}
}

@import './large';
@import './medium';
@import './small';
