@import './components';
@import './colors';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background: #11120d;
	background: linear-gradient(270deg, rgba(17, 18, 13, 1) 0%, rgba(26, 28, 27, 1) 57%);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	z-index: -10;

	&-box {
		position: relative;
		display: flex;
		flex-direction: column;

		&-heading {
			font-family: 'Edu NSW ACT Hand Pre', cursive;
			letter-spacing: 0.2rem;
			color: $white;
			font-weight: 800;

			&__special {
				color: $accent-color;
			}

			&__underline {
				justify-self: end;
				background-color: $underline-color;
				height: 1px;
				width: 50%;
			}
		}
	}
}
